# Archivos y carpetas de Docker
Dockerfile
.dockerignore
docker-compose.yml

# Dependencias de Node
node_modules

# Archivos de build de Next.js
.next

# Archivos de configuración local y logs
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db