@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), sans-serif;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.mask-gradient-bottom {
  -webkit-mask-image: linear-gradient(180deg, #0000, #000 27.12%, #000 97.12%);
  mask-image: linear-gradient(180deg, #0000, #000 27.12%, #000 97.12%);
}

.mask-gradient-right {
  -webkit-mask-image: linear-gradient(90deg, #0000, #000 27.12%, #000 97.12%);
  mask-image: linear-gradient(90deg, #0000, #000 27.12%, #000 97.12%);
}

@media (hover: hover) {
  .hide-scrollbar-on-hover:not(:hover) {
    scrollbar-width: none;
  }
}

.hide-scrollbar-on-hover::-webkit-scrollbar {
  display: none;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

textarea:focus-visible {
  outline-offset: 0px;
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.custom-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
